@import "tailwindcss";


.react-calendar {
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  border: 1px solid #e5e7eb; /* gray-200 */
  border-radius: 0.5rem; /* rounded-lg */
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.25;
}

  
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5rem;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5rem;
}

.react-calendar__navigation {
  display: flex;
  align-items: center;
  height: 3rem;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
}

.react-calendar__navigation button {
  min-width: 2.5rem;
  background: none;
  border: none;
  color: #111827; /* gray-900 */
  padding: 0.5rem;
  border-radius: 0.375rem; /* rounded-md */
}
/* .react-calendar__navigation button:enabled:hover {
  background: #f3f4f6; 
} */
.react-calendar__navigation button:disabled {
  color: #9ca3af; /* gray-400 */
}
.react-calendar details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem; 
  color: #6b7280; /* gray-500 */
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5rem;
}
abbr[title] {
  text-decoration: none;
}

.react-calendar__viewContainer {
  padding: 0 0.5rem 0.5rem;
  
}

.react-calendar__tile {
  text-align: center;
  padding: 39px 4px;
  background: none;
  border: 0;
  border-radius: 0.375rem; /* rounded-md */
}
/* .react-calendar__tile:enabled:hover {
  background: #6b98f4; 
} */
.react-calendar__tile--now {  
  background: #a1c5f4;  
 
}
.react-calendar__tile--active {
  /* background: #2563eb;  */
  color: #ffffff;
 
}
.react-calendar__tile--hasActive {
  background: #dbeafe; 
  
}
.react-calendar__tile--range {
  /* background: #bfdbfe;  */
  color: #1f2937; 
}
/* .react-calendar__tile--rangeStart,
.react-calendar__tile--rangeEnd {
  background: #2563eb; 
  color: #ffffff;
} */

.react-calendar {
  border-collapse: collapse;

}

.react-calendar__month-view__days__day {
  border: 1px solid #d1d5db;
  border-radius: 0px; 
}
.react-calendar__year-view .react-calendar__tile {
  border: 1px solid #d1d5db;
  border-radius: 0px;
  padding: 1px 1px
}
.react-calendar__year-view .react-calendar__tile --active {
  background: #2563eb; 
} 


.react-calendar__month-view__days__day--neighboringMonth {
  color: #9ca3af; /* gray-400 */
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 1rem 0.5rem;
}